# .gitignore file
.env
episodes/

# Ignore virtual environments
.venv/

# Ignore cache
__pycache__/

# Ignore model files and other large files
*.dll
*.lib

# Ignore sensitive analysis output
episode_metadata.json

